.ui-alert{
  background-color: #f2dede;
  padding: 20px;
  border-radius: 5px;
  margin: 20px 0 20px 0;
}

.ui-alert-title, .ui-alert-message{
  color: #af4341;
}

.ui-alert-title{
  font-weight: bold;
  font-size: 25px;
}
