<!DOCTYPE html>
<html ng-app="listaTelefonica">
  <head>
    <meta charset="utf-8">
    <title>Lista Telefônica</title>

    <!-- ANGULAR -->
    <script src="lib/angular/angular.js"></script>
    <script src="lib/angular/angular-messages.js"></script>

    <script src="js/app.js"></script>
    <script src="js/controllers/listaTelefonicaCtrl.js"></script>
    <script src="js/value/configValue.js"></script>

    <script src="js/services/serialGeneratorService.js"></script>
    <script src="js/services/contatosAPIService.js"></script>
    <script src="js/services/operadorasAPIService.js"></script>

    <script src="js/config/serialGeneratorConfig.js"></script>

    <script src="js/filters/nameFilter.js"></script>
    <script src="js/filters/ellipsisFilter.js"></script>

    <script src="js/directives/uiAlertDirective.js"></script>
    <script src="js/directives/uiDateDirective.js"></script>
    <script src="js/directives/uiAccordionDirective.js"></script>

    <!-- JQUERY -->
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script> -->

    <!-- BOOTSTRAP -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="css/styles.css">
    <link rel="stylesheet" type="text/css" href="css/ui.css">

  </head>
  <body>
    <div class="jumbotron container" ng-controller= "listaTelefonicaCtrl">

      <ui-accordions>
        <ui-accordion title="Accordion 1">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </ui-accordion>
        <ui-accordion title="Accordion 2">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </ui-accordion>
      </ui-accordions>

      <h3>{{app}}</h3>

      <!-- <ui-alert title="Ops, aconteceu um problema!">
        {{message}}
      </ui-alert>
      <ui-alert title="Novo título.">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
      </ui-alert> -->

      <input class="form-control" type="text" name="" value="" placeholder="Search" ng-model="criterioDeBusca">

      <table class="table table-striped" ng-show="contatos.length > 0">
        <tr>
          <th></th>
          <th>Serial</th>
          <th><a href="#" ng-click="ordenarPor('nome')">Nome</a></th>
          <th><a href="#" ng-click="ordenarPor('telefone')">Telefone</a></th>
          <th><a href="#" ng-click="ordenarPor('operadora')">Operadora</a></th>
          <th><a href="#" ng-click="ordenarPor('data')">Data</a></th>
          <th><a href="#" ng-click="ordenarPor('cor')">#</a></th>
        </tr>
        <tr class="" ng-class="{selecionado:contato.selecionado}" ng-repeat="contato in contatos | filter:criterioDeBusca | orderBy:'nome':direcaoDaOrdenacao">
          <td><input type="checkbox" ng-model="contato.selecionado" name="" value=""></td>
          <td>{{contato.serial}}</td>
          <td title="{{contato.nome | name}}">{{contato.nome | name | ellipsis:12}}</td>
          <td>{{contato.telefone}}</td>
          <td>{{contato.operadora.nome}}</td>
          <td>{{contato.data | date:'dd/mm/yy HH:MM'}}</td>
          <td><div style="width:20px; height:20px;" ng-style="{'background-color': contato.cor}"></div></td>
        </tr>
      </table>
      <button class="btn btn-danger btn-block" type="button" name="button" ng-click="apagarContatos(contatos)" ng-disabled="!isContatoSelecionado(contatos)" ng-if="isContatoSelecionado(contatos)">Remove Contact</button>

      <hr>

      <form name="contatoForm">

        <input class="form-control" type="text" name="nome" value="" ng-model="contato.nome" placeholder="Nome *" ng-required="true" ng-minlength="10">

        <input class="form-control" type="tel" name="telefone" value="" ng-model="contato.telefone" placeholder="Telefone *" ng-required="true" ng-minlength="9" ng-pattern="/^\d{4,5}-\d{4}$/">

        <input class="form-control"  type="text" name="data" ng-model="contato.data" placeholder="Data *" ui-date >

        <select class="form-control" name="operadora" ng-model="contato.operadora" ng-options="operadora.nome for operadora in operadoras | orderBy:'nome'" ng-required="true">
          <option value="">Selecione uma operadora</option>
        </select>

        <input class="form-control" type="color" ng-model="contato.cor" ng-required="false">

      </form>

      <div ng-show="contatoForm.nome.$dirty" ng-messages="contatoForm.nome.$error">
        <div ng-message="required" class="alert alert-danger">
          Por favor, preencha o campo nome!
        </div>
        <div ng-message="minlength" class="alert alert-danger">
          Nome precisa de no mínimo 10 caracteres.
        </div>
      </div>

      <div ng-show="contatoForm.telefone.$error.required && contatoForm.telefone.$dirty" class="alert alert-danger">
        Por favor, preencha o telefone.
      </div>

      <div ng-show="contatoForm.telefone.$error.pattern" class="alert alert-danger">
        O formato do telefone deve ser (X)XXXX-XXXX.
      </div>

      <button class="btn btn-success btn-block" type="button" name="button" ng-click="adicionarContato(contato)" ng-disabled="contatoForm.$invalid">Add Contact</button>

    </div>
    <div class="text-center" ng-include="'view/footer.html'"></div>
  </body>
</html>
